<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Food">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.Logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".app.Dish" />
        <activity android:name=".app.Likes" />
        <activity android:name=".app.FoodProfile" />
        <activity android:name=".app.Signup" />
        <activity android:name=".app.Account" />
        <activity android:name=".app.Login">

        </activity>
        <activity android:name=".app.Cook" />
        <activity android:name=".app.MainActivity" />
        <activity
            android:name=".app.Grid"
            android:label="Details"
            android:parentActivityName=".app.MainActivity" />
    </application>

</manifest>